<!-- GET /confirmation -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"></head>
  <body>
    <h1>Thanks for creating an account!</h1>
    <p>Click <a href="/login">here</a> to log in.</p>
  </body>
</html>