<!-- views/confirmation.erb -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css"></head>
  <body>
    <h1>Thanks <%= @last_added_user.name %>, for creating an account!</h1>
    <p>Click <a href="/login">here</a> to log in.</p>
  </body>
</html>