<!-- views/index.erb -->

<html>
  <head></head>
  <body>
    <h1>PersimmonBnB</h1>

    <h3>Feel at home, anywhere</h3>
    
    <a href="/signup">Sign Up</a>
    <a href="/login">Log In</a>
    <a href="/spaces">Spaces</a>
  </body>
</html>