<!-- GET / -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header id="header">
      <a href="/">PersimmonBnB</a>
      <div  id="header-links">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        <a href="/spaces">Spaces</a>
      </div>
    </header>
   
    <div id="tagline-div">
      <h1 id="tagline">Feel at home, anywhere.</h3>
    </div>

    <div id="homepage-img-container">
      <img src="/img/bnbimage.jpg" alt="Home in the woods" id="homepage-img">
    </div>
    
    
   
  </body>
</html>