<!-- GET /login -->

<html>
  <head></head>
  <body>
    <h1>PersimmonBnB | Log In</h1>
    
    <form method="POST" action="/login">
    <div class="container">
            <label>Email:</label>   
            <input type="text" placeholder="Enter email" name="email" required />
            <label>Password:</label>   
            <input type="password" placeholder="Enter password" name="password" required />  
            <button type="submit">Log-In</button> 
        </div>   
    </form>
    <%# <h4>Not registered? <a href="/signup">Sign up!</a></h4>  %>

    <a href="/">Home</a>
    <a href="/spaces">Spaces</a>
    <a href="/newspace">List a new Space</a>
  </body>
</html>