<!-- views/login-failure.erb -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <h1>Log-In Unsuccessful!</h1>
    <h4>Invalid password or email address provided.</h4>
    <p><a href="/login">Please try again</a></p>
  </body>
</html>