<!-- views/newspace.erb -->

<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
  <header id="header">
    <a href="/">PersimmonBnB</a>
    <div  id="header-links">
      <a href="/">Home</a>
      <a href="/spaces">Spaces</a>
    </div>
  </header>
   
    <div id="tagline-div">
      <h1 id="tagline">Because your Space is too good not to share.</h1>
    </div>

    <div id="tagline-div">
      <% if session[:user_id] != nil %>
        <h2> Hey <%= session[:user_name] %>, looking to list a new Space?</h2>
      <% end %>
    </div>

    <div id="homepage-and-form-container">
      <div id="homepage-img-container">
        <img src="/img/woman-in-house.jpg" alt="Home in the woods" id="newspace-img">
      </div>

      <form class="form" method="POST" action="/signup">
      <h1 id="sign-up-title">List your Space:</h1>
    <div class="signup-form">
        <div class="label-and-input-container">
          <label>Name:</label>   
          <input class="signup-input" type="text" placeholder="Enter name" name="space_name" required />
        </div>
        <div class="label-and-input-container">
          <label>Description:</label>   
          <input class="signup-input" type="text" placeholder="Enter description" name="space_description" required />
        </div>
        <div class="label-and-input-container">
          <label>Price:</label>   
          <input class="signup-input" type="number" placeholder="Enter price" name="space_price" required />  
        </div>
        <div class="label-and-input-container">
        <label>Start Date:</label>   
        <input class="signup-input" type="date" placeholder="Enter start date" name="start_date" required />  
      </div>
      <div class="label-and-input-container">
            <label>End Date:</label>   
            <input class="signup-input" type="date" placeholder="Enter end date" name="end_date" required />  
          </div>
          <button class="signup-button" type="submit">Make listing</button> 
      </div>   
   </form>  
</div>
    
  </body>
</html>