<!-- views/newspace.erb -->

<html>
  <head></head>
  <body>
    <h1>PersimmonBnB | Sign-Up:</h1>

    <form method="POST" action="/signup">
    <div class="container">
            <label>Name:</label>   
            <input type="text" placeholder="Enter name" name="name" required />
            <label>Email:</label>   
            <input type="text" placeholder="Enter email" name="email" required />
            <label>Password:</label>   
            <input type="password" placeholder="Enter password" name="password" required />  
            <button type="submit">Sign-Up</button> 
        </div>   
    </form>  
  </body>
</html>