<html>
  <head>
  <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>

    <header id="header">
      <a href="/">PersimmonBnB</a>
      <div  id="header-links">
        <a href="/signup">Sign Up</a>
        <a href="/login">Log In</a>
        <a href="/spaces">Spaces</a>
      </div>
    </header>
   
    <div id="tagline-div">
      <h1 id="tagline">Join our world.</h3>
    </div>

    <div id="homepage-and-form-container">
      <div id="homepage-img-container">
        <img src="/img/bnbimage.jpg" alt="Home in the woods" id="homepage-img">
      </div>

      <form class="form" method="POST" action="/signup">
      <h1 id="sign-up-title">Sign-Up:</h1>
    <div class="signup-form">
        <div class="label-and-input-container">
          <label>Name:</label>   
          <input class="signup-input" type="text" placeholder="Enter name" name="name" required />
        </div>
        <div class="label-and-input-container">
          <label>Email:</label>   
          <input class="signup-input" type="text" placeholder="Enter email" name="email" required />
        </div>
        <div class="label-and-input-container">
          <label>Password:</label>   
          <input class="signup-input" type="password" placeholder="Enter password" name="password" required />  
        </div>
          <button class="signup-button" type="submit">Sign-Up</button> 
      </div>   
   </form>  
</div>
    
  </body>
</html>