<!-- views/spaces.erb -->

<html>
  <head></head>
  <body>
    <h1>Book a Space</h1>

    <% if session[:user_id] != nil %>
      <h3> Welcome, <%= session[:user_name] %>.</h3>
    <% end %>

    <form method="POST" action="/spaces">
    <div class="container">
            <label>Start Date:</label>   
            <input type="date" placeholder="Enter start date" name="start_date" required />  
            <label>End Date:</label>   
            <input type="date" placeholder="Enter end date" name="end_date" required />  
            <button type="submit">Submit</button> 
        </div>   
    </form>  

    <% @spaces.each do |space| %>
        <div>
            <p><%= space.space_name %>: <%= space.space_description %> - £<%= space.space_price %></p>
        </div>
      <% end %>
    
    
    <a href="/">Home</a>
    <a href="/newspace">List a new Space</a>
  </body>
</html>