<!-- views/spaces.erb -->

<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/style.css">
  </head>
  <body>
    <header id="header">
      <a href="/">PersimmonBnB</a>
      <div  id="header-links">
        <a href="/">Home</a>
        <a href="/spaces">Spaces</a>
        <a href="/newspace">List a Space</a>
      </div>
    </header>

    <div id="tagline-div">
      <h1 id="tagline">Available Spaces.</h1>
    </div>

    <div id="tagline-div">
      <% if session[:user_id] != nil %>
        <h2>Welcome, <%= session[:user_name] %>.</h2>
      <% end %>
    </div>

    <div id="homepage-and-form-container">
      <div id="available-spaces-container">
        <% @spaces.each do |space| %>
          <div>
              <p><%= space.space_name %>: <%= space.space_description %> - £<%= space.space_price %></p>
          </div>
        <% end %>
      </div>

      <form method="GET" action="/filter">
        <div class="container">
            <label>Start Date:</label>
            <input type="date" placeholder="Enter start date" name="start_date" required />
            <label>End Date:</label>
            <input type="date" placeholder="Enter end date" name="end_date" required />
            <button type="submit">Submit</button>
        </div>
      </form>
     </div>
  </body>
</html>